@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    // Slower in middle
    100% {
        transform: translateX(100%);
    }
}
